/weblogo
/6-new-12w-0
/4-new-12w-0
/3-new-12w-0.zip
/4-new-12w-0.zip
/iDeepS2-master
/1_PARCLIP_AGO1234_hg19
/motifs
/BERT
/DNABERT

weblogo
6-new-12w-0
4-new-12w-0
3-new-12w-0.zip
4-new-12w-0.zip
iDeepS2-master
1_PARCLIP_AGO1234_hg19
/structure.gz
BERT
DNABERT
/motifs/
/motifs/*
/.idea
/__pycache__